
.login-content{
    --background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
    .bg-class{
      height: 100%;
      background: #673AB7;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      //background-image: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important
  }
  
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  
  
  .swiper-slide {
    display: block;
  }

  ion-slide > h2 {
    margin-top: 2.8rem;
  }

  ion-slide > img {
    max-height: 50%;  
    max-width: 60%;
    margin: 36px 0;
  }


  #gear{
    animation-name: ckw;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    animation-timing-function: linear;
    position: absolute;
}
#gear2{
    animation-name: ccw;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
    position: absolute;
  
}
#gear3{
  animation-name: ccw;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-timing-function: linear;
  position: absolute;

}
@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes ccw {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



  